* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #d1d6da;
    font-family: Arial, Helvetica, sans-serif;
}

/*****************header*********/
.nav_barre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo_img {
    margin: 5px;
    padding: 5px;
    height: 90px;
    width: 120px;
}

.nav {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5em;

}

.nav a {
    display: flex;
    flex-direction: row;
    font-size: 15px;
  font-weight: 500;
    font-family: "roboto";
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
    color: black;
}

/*****************parti bas du header******/
.section_header {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5em;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.603);
    background: linear-gradient(#0d3463
    , #8380808e);

}

span {
    color: #fd8a69;
}

.P_header {

    line-height: 1.7em;
    margin-top: 3em;
    font-size: 15px;
    width: 35em;
    color: white;
}

.bureau_header_img {

    border: 1px solid black;
    margin: 20px;
    padding: 2px;
    height: 380px;
    width: 655px;

}

.div_titre {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.titre_2023 {
    font-Family: "Audiowide";
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 55px;
    text-transform: uppercase;
}

h1 {
    font-size: 300%;
    font-Family: "Audiowide";
}

/********fin parti bas du header******/
/*****************fin de header*********/




/*************main*****************/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}
.section_main {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 15em;


}

.les_boxes {

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    width: 85%;
    margin: auto;
    gap: 5em;
}

.box_haut {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;


}

.box_bas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.boxes-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #fd8a69;
    height: 250px;
    width: 250px;
    border-radius: 5%;
    font-weight: bolder;
    box-shadow: 10px 5px 5px #a1a1a1;

}

.box1 {
    background-color: #fd8a69;
}

.box2 {
    background-color: #11417d;
}

.box3 {
    background-color: #47a188;
}

.box4 {
    background-color: #989999;
}

.box5 {
    background-color: #11417d;
}

.box6 {
    background-color: #989999;
}

.box7 {
    background-color: #44ca80;
}

.box8 {
    background-color: #44ca80;
}


h2 {

    border: 1px solid black;
    font-Family: "Audiowide";
    width: 90%;
    border-radius: 10px;
    padding: 30px;
    font-size: xx-large;
    color: rgba(102, 100, 100, 0.733);
}

.graphique {
    width: 90%;
}

/*************fin main*****************/

/***************************footer*******************/
footer{
    width: 100%;
    background: linear-gradient(#8380808e,#0d3463);
    height: 350px;
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 90%;
}

.address{
  

    width: 25%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    
}
.les-icones{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    justify-content: space-between;
    width: 75%;
    
    align-items: center;

}
.text_foter{
    font-size: x-large;
    
    width: 100%;
}
.icon{
    display: flex;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0.144);
}
.fa-facebook-f {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #3B5998;
    color: white;
}

.fa-brands fa-twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #3B5998;
    color: #3B5998;
}



.formulaire{
    border-radius: 2px;
    align-items: center;
    display: flex;
    flex-direction: column; 
    margin-right: 5px;
    height: 300px;
    width: 460px;
    background-color: #0d3463;
}

.form{
    
    width: 95%;
    margin-top: 10px;
}

#nom_prenom{
    color: #8b8d8f;
    width: 95%;
    height: 35px;
}
#entreprise{
    color: #8b8d8f;
    width: 95%;
    height: 35px;
}
#email{
    color: #8b8d8f;
    width: 95%;
    height: 35px;
}
#submit{
    margin-top: 1.5em;
    color: white;
    border-radius: 2px;
    width: 95%;
    height: 35px;
    background-color: #fd8a69;
}

hr{
    height: 200px;
    
}
h3{
    font-weight: bolder;
    text-transform: uppercase;
}
/***************************fin de footer*******************/