* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    

}

body {
    background: #d1d6da;
}

.nav_barre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.logo_img {
    height: 90px;
    width: 120px;
}

.nav {
    display: flex;
    justify-content: space-around;

    gap: 4em;

}

.nav a {
    font-size: 20px;
    margin-top: 2em;
    text-decoration: none;
    color: black;
}

.section_header {

    font-Family: Roboto Mono, monospace;
    display: flex;
    align-items: center;
    gap: 5em;
    
    box-shadow: 10px 10px 10px 0px black;
    height: 400px;
    background: linear-gradient(155deg,rgb(152, 153, 153,1) 0%, rgb(17, 65, 125,1)10%,rgb(255, 255, 255,1)150% );

}
span{
    color: #fd8a69;
}

.P_header {
    margin-top: 3.5em;
    line-height: 1.5em;
    
    color: white;
}
.bureau_header {
    width: fit-content;
    height:fit-content ;
    
}

.bureau_header_img {
    width: 750px;
    height: 300px;
}

.div_titre {
   
    text-align: center;
    text-transform: uppercase;
    margin-left: 6em;
    margin-bottom: 3.5em;
    height: 250px;
    width: 450px;
}

.titre_2023 {


    display: flex;
    justify-content: center;
    
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 56px;
    text-align: center;
}

h1{
    font-size: 56px;
}

